.head2{
    margin: auto;
    width: 50%;
    height:100%;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
table{
    width: 100%;
    margin-top: 50px;
}
th{
    width:50px;
    font-size: 20px;
    font-weight: bold;
    background-color: antiquewhite;
}
button{
    cursor: pointer;
}
button:hover{
    background-color: whitesmoke;
}
td{
    width:50px;
    font-size: 16px;
    font-weight: bold;
    background-color: aquamarine;
}
.cap{
    text-transform: capitalize;
}
.upp{
    text-transform: uppercase;
}